.container-sidebar {
    width: 20rem;
    height: 100vh;
    padding-top: 5%;
    background-color: #1a426d;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title-sidebar{
    display: flex;
    justify-content: center;
}
.scrollable-categories {
    flex: 1;
    overflow-y: auto;
    padding-right: 0.5rem;
}
.search-sidebar{
    display: flex;
    justify-content: center;
}
.ul-sidebar{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

}
.ul-sidebar li {
    margin: 0;
    height: 3rem;
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 16%; 
    box-sizing: border-box;
    cursor: pointer;
}

.ul-sidebar li:hover{
    background-color: #247fac;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.active-category {
    background-color: #000000;
    color: white;
    font-weight: bold;
}
.scrollable-categories::-webkit-scrollbar {
    width: 12px;
}

.scrollable-categories::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable-categories::-webkit-scrollbar-thumb {
    background-color: #247fac;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}
