.container-sidebar{
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 18rem;
    background-color: #1a426d;
    color: rgb(255, 255, 255);
    gap: 10px;

}
.title-sidebar{
    display: flex;
    justify-content: center;
}
.search-sidebar{
    display: flex;
    justify-content: center;
}
.ul-sidebar{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

}
.ul-sidebar li {
    margin: 0;
    height: 3rem;
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 12%; 
    box-sizing: border-box;
    cursor: pointer;
}

.ul-sidebar li:hover{
    background-color: #247fac;
    color: black;
}