.containerProducts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1; 
    gap: 2rem;
    padding: 5% 2rem 0rem 2rem; 
}
.title-products{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.cart-icon {
    width: 2.5rem;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 50%;
}

.cart-icon-wrapper {
    position: absolute;
    top: -1rem;
    right: -1rem;
    display: none;
}

.product-count {
    position: absolute;
    top: -4px;
    right: -4px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}


.containerItemProduct:hover .cart-icon-wrapper {
    display: block;
}
.products {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow: visible;
}
.containerItemProduct {
    position: relative;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 1px solid #c64337;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 16rem;
    cursor: pointer;
}
.fullLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.containerItemProduct:hover {
    background-color: #c643371f; 
}
.image-products {
    width: 100%;
    height: 14rem;
    border-radius: 10px;
} 
.name-products{
    font-size: 26px;
}
.description-product{
    padding: 1rem;
    display: flex;
    margin: 0;
}
.price{
    color: rgb(75, 255, 195);
}